################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XLMenuMod/bin
/XLMenuMod/obj
/XLMenuMod/References
/packages
/XLMenuMod/Assets/UISpriteSheet.png
/XLMenuMod.Utilities/bin/Debug
/XLMenuMod.Utilities/obj/Debug
/XLMenuMod.Utilities/Assets/UISpriteSheet.png
/XLMenuMod.Unity/Library
/XLMenuMod.Unity/Logs
/XLMenuMod.Unity/Temp
/XLMenuMod.Utilities/bin/Release
/XLMenuMod.Utilities/obj/Release
