################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/XLMenuMod/Assets/UISpriteSheet.png
/XLMenuMod.Utilities/Assets/UISpriteSheet.png
/XLMenuMod.Unity/Library
/XLMenuMod.Unity/Logs
/XLMenuMod.Unity/Temp

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/